footer {
<<<<<<< HEAD
	position: fixed;
	bottom: 0;
	background-color: #00FF00;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 30px;
}
=======
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
>>>>>>> c1c9a60a57394365671a424d8be9537ebecda946
