header {
<<<<<<< HEAD
	background-color:#FF0000;
	height:70px;
	width:100%;
}
=======
    background-color: #FF0000;
    height:70px;
    width:100%;
}
>>>>>>> c1c9a60a57394365671a424d8be9537ebecda946
