<<<<<<< HEAD
body {
	margin:0px;
	padding:0px;

	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
=======
html, body {
    min-height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
}
>>>>>>> c1c9a60a57394365671a424d8be9537ebecda946
